<template lang="html">
  <div class="section-container">
    <component :is='currentStep'></component>
  </div>
</template>

<script>
  import step1 from './step4_1.vue';
  import step2 from './step4_2.vue';
  //import step3 from './step4_3.vue';
  //import step4 from './step4_4.vue';
  import step3 from './step4_5.vue';
  
  
  export default {
    data() {
      return {
        maxSteps: 3
      };
    },
    
    computed: {
      currentStep () {
        return 'step' + this.$store.state.nav.step;
      }
    },
    
    created () {
      this.$store.commit('setMaxSteps', this.maxSteps);
      this.$store.commit('updateCompletionStatus', {key: 'section', value: 1});
    },
    
    components: {
      step1,
      step2,
      step3,
      //step4,
      //step5
    }
  };
</script>
