<template lang="html">
  <div>
    <div class="step-container">
      <div class="step-block-side">
      </div>

      <div class="step-block-middle">
        <h2>{{valueForKey("rectory_title")}}</h2>

        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <h3>{{valueForKey("rectory_contact_label")}}</h3>

              <div class="step-box-row-multi">
                <div>
                  <span class="step-box-sub-top">{{valueForKey("title_label")}}</span>
                  <dropDown :options="titles"
                            v-on:update="onTitleUpdate"
                            :default="defaultTitle"
                            required="true">
                  </dropDown>
                </div>

                <div>
                  <span class="step-box-sub-top">{{valueForKey("first_name_label")}}</span>
                  <textInput pkey="nameFirst" parentKey="rectory" required="true"></textInput>
                </div>

                <div>
                  <span class="step-box-sub-top">{{valueForKey("last_name_label")}}</span>
                  <textInput pkey="nameLast" parentKey="rectory" required="true"></textInput>
                </div>
              </div>
            </div>

            <div class="step-box-section">
              <h3>{{valueForKey("rectory_address_label")}}</h3>
              <div class="step-box-row">
                <textInput pkey="street" parentKey="rectory" required="true"></textInput>
                <span class="step-box-sub-label">{{valueForKey("street_name_label")}}</span>
              </div>

              <div class="step-box-row-multi">
                <div class="multi-row-city">
                  <textInput pkey="city" parentKey="rectory" required="true"></textInput>
                  <span class="step-box-sub-label">{{valueForKey("city_label")}}</span>
                </div>

                <div class="multi-row-state">
                  <textInput pkey="state" parentKey="rectory" validationType="alpha" required="true"></textInput>
                  <span class="step-box-sub-label">{{valueForKey("state_label")}}</span>
                </div>

                <div class="multi-row-zip">
                  <textInput pkey="zip" parentKey="rectory" required="true" min="5"></textInput>
                  <span class="step-box-sub-label">{{valueForKey("zipcode_label")}}</span>
                </div>
              </div>
            </div>

            <div class="step-box-section">
              <div class="step-box-row-multi">
                <div>
                  <h3>{{valueForKey("rectory_phone_label")}}</h3>
                  <textInput pkey="phone" parentKey="rectory" required="true" type="phone"></textInput>
                </div>

                <div>
                  <h3>{{valueForKey("rectory_email_label")}}</h3>
                  <textInput pkey="email" parentKey="rectory" required="true" validationType="email"></textInput>
                </div>
              </div>
            </div>
          </div>

          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>

      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapState, mapMutations} from 'vuex';

  import dropDown from 'components/dropDown';
  import textInput from 'components/textInput.vue';


  export default {
    components: {
      textInput,
      dropDown
    },

    data() {
      return {
        admin: {},
        titles: this.$store.state.data.common.title
          .filter(elm => elm.language ? elm.language == this.$store.state.nav.language : true)
          .map(elm => ({label: elm.name, value: elm.name})),
        defaultTitle: this.$store.state.data.parish.rectory.title
      };
    },

    computed: mapState({
      vname: state => state.data.parish.name
    }),

    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['updateJson']),

      finish () {
        this.updateTempDB('rectory');
      },

      onTitleUpdate (value) {
        this.updateJson({
          value,
          key: "title",
          parentKey: 'rectory'
        });
      }
    }
  };
</script>
