<template lang="html">
  <div>
    <div class="step-container">
      <div class="step-block-side">
        <img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("parish_staff_title")}}</h2>
        
        <div class="step-box">
          <div class="step-box-content">
            <div v-for="(item, index) in items">
              <div class="step-box-section">
                <div class="step-box-row">
                  <span class="step-box-sub-top">{{valueForKey("position_label")}}</span>
                  <div class="select-wrap">
                    <select v-model="item.position">
                      <option v-for="option in positions">{{option}}</option>
                    </select>
                    <img src="assets/wizard/select-arrow.svg" alt="" />
                  </div>
                </div>
                
                <div class="step-box-row-multi">
                  <div>
                    <span class="step-box-sub-top">{{valueForKey("first_name_label")}}</span>
                    <input v-validate
                           data-vv-rules="required"
                           :name="'nameFirst' + index"
                           @keyup="validateBoxFields(index, 'nameFirst')"
                           type="text"
                           v-model="item.nameFirst" />
                    
                    <span v-show="errors.has('nameFirst' + index)" class="help errors">
                      {{ errors.first('nameFirst' + index) }}
                    </span>
                  </div>
                  
                  <div>
                    <span class="step-box-sub-top">{{valueForKey("last_name_label")}}</span>
                    <input v-validate
                           data-vv-rules="required"
                           :name="'nameLast' + index"
                           @keyup="validateBoxFields(index, 'nameLast')"
                           type="text"
                           v-model="item.nameLast" />
                    
                    <span v-show="errors.has('nameLast' + index)" class="help errors">
                      {{ errors.first('nameLast' + index) }}
                    </span>
                  </div>
                </div>
                
                <div class="step-box-row-multi">
                  <div>
                    <span class="step-box-sub-top">{{valueForKey("email_label")}}</span>
                    <input v-validate
                           data-vv-rules="required|email"
                           :name="'email' + index"
                           @keyup="validateBoxFields(index, 'email')"
                           type="text"
                           v-model="item.email" />
                    
                    <span v-show="errors.has('email' + index)" class="help errors">
                      {{ errors.first('email' + index) }}
                    </span>
                  </div>
                  
                  <div>
                    <span class="step-box-sub-top">{{valueForKey("primary_phone_label")}}</span>
                    <input v-validate
                           data-vv-rules="numeric"
                           :name="'phone' + index"
                           @keyup="validateBoxFields(index, 'phone')"
                           type="text"
                           v-model="item.phone" />
                    
                    <span v-show="errors.has('phone' + index)" class="help errors">
                      {{ errors.first('phone' + index) }}
                    </span>
                  </div>
                </div>
                
                <div class="section-h-divider"></div>
              </div>
            </div>
            
            <div class="step-box-row-button">
              <span @click="addItem" class="clear-button">
                + {{valueForKey("add_staff_member_button")}}
              </span>
            </div>
          </div>
          
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import {mapActions, mapMutations} from 'vuex';
  
  
  export default {
    data() {
      return {
        items: [],
        positions: this.$store.state.data.common.position
          .filter(elm => elm.language ? elm.language == this.$store.state.nav.language : true)
          .map(elm => elm.name)
      };
    },
    
    created () {
      let value = this.$store.state.data.parish.staff;
      if (value)
        this.items = value.filter(elm => !elm['_example']);
      if (!this.items.length)
        this.addItem();
    },
    
    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep', 'updateErrors', 'updateJson']),
  
      finish () {
        this.updateTempDB('staff');
      },
      
      removeStaff (index) {
        this.items.splice(index, 1);
      },
      
      addItem () {
        let item = {
          position: this.positions[0],
          nameFirst: "",
          nameLast: "",
          email: "",
          phone: ""
        };
        this.items.push(item);
      },
      
      validateBoxFields (index, keyName) {
        if (!this.errors.has(keyName + index)) {
          this.updateErrors({
            error: null,
            key: keyName + index
          });
  
          this.updateJson({
            value: this.items,
            key: "staff",
            parentKey: ""
          });
        } else {
          this.updateErrors({
            error: true,
            key: keyName + index
          });
        }
      }
    }
  };
</script>
