<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
        <img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>
      </div>

      <div class="step-block-middle">
        <h2>{{valueForKey("grade_school_title")}}</h2>

        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <h3>{{valueForKey("grade_school_name_label")}}</h3>
              <textInput :disableInput="noGradeSchool"
                         pkey="name"
                         parentKey="grade_school"
                         :required="!noGradeSchool">
              </textInput>
            </div>

            <div class="step-box-section">
              <h3>{{valueForKey("grade_school_poc_label")}}</h3>
              <div class="step-box-row-multi">
                <div>
                  <span class="step-box-sub-top">{{valueForKey("title_label")}}</span>
                  <dropDown :disableInput="noGradeSchool"
                            :options="titleOptions"
                            pkey="title"
                            parentKey="grade_school"
                            :required="!noGradeSchool">
                  </dropDown>
                </div>

                <div>
                  <span class="step-box-sub-top">{{valueForKey("first_name_label")}}</span>
                  <textInput :disableInput="noGradeSchool"
                             pkey="contactNameFirst"
                             parentKey="grade_school"
                             :required="!noGradeSchool">
                  </textInput>
                </div>

                <div>
                  <span class="step-box-sub-top">{{valueForKey("last_name_label")}}</span>
                  <textInput :disableInput="noGradeSchool"
                             pkey="contactNameLast"
                             parentKey="grade_school"
                             :required="!noGradeSchool">
                  </textInput>
                </div>
              </div>
            </div>

            <div class="step-box-section">
              <h3>{{valueForKey("grade_school_address_label")}}</h3>

              <div class="step-box-row">
                <textInput :disableInput="noGradeSchool"
                           pkey="street"
                           parentKey="grade_school"
                           :required="!noGradeSchool">
                </textInput>
                <span class="step-box-sub-label">{{valueForKey("street_label")}}</span>
              </div>

              <div class="step-box-row-multi">
                <div style="flex: 4">
                  <textInput :disableInput="noGradeSchool"
                             pkey="city"
                             parentKey="grade_school"
                             :required="!noGradeSchool">
                  </textInput>
                  <span class="step-box-sub-label">{{valueForKey("city_label")}}</span>
                </div>

                <div style="flex:1">
                  <textInput :disableInput="noGradeSchool"
                             pkey="state"
                             parentKey="grade_school"
                             validationType="alpha"
                             :required="!noGradeSchool">
                  </textInput>
                  <span class="step-box-sub-label">{{valueForKey("state_label")}}</span>
                </div>

                <div style="flex: 2">
                  <textInput :disableInput="noGradeSchool"
                             pkey="zip"
                             parentKey="grade_school"
                             :required="!noGradeSchool"
                             min="5">
                  </textInput>
                  <span class="step-box-sub-label">{{valueForKey("zipcode_label")}}</span>
                </div>
              </div>
            </div>

            <div class="step-box-section">
              <div class="step-box-row-multi">
                <div>
                  <h3>{{valueForKey("grade_school_phone_label")}}</h3>
                  <textInput :disableInput="noGradeSchool"
                             pkey="phone"
                             parentKey="grade_school"
                             type="phone"
                             :required="!noGradeSchool">
                  </textInput>
                </div>

                <div>
                  <h3>{{valueForKey("grade_school_email_label")}}</h3>
                  <textInput :disableInput="noGradeSchool"
                             pkey="email"
                             parentKey="grade_school"
                             :required="!noGradeSchool"
                             validationType="email">
                  </textInput>
                </div>
              </div>
            </div>

            <div class="step-box-section">
              <div class="step-box-row">
                <input type="checkbox"
                       @change="updateCheckBox"
                       v-model="noGradeSchool" />
                <label for="checkbox"> {{valueForKey("grade_school_phone_label")}}</label>
              </div>
            </div>
          </div>

          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>

      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapMutations} from 'vuex';

  import textInput from 'components/textInput';
  import dropDown from 'components/dropDown';


  export default {
    data() {
      return {
        titleOptions: [
          {label: "Mr.", value: 1},
          {label: "Ms.", value: 2},
          {label: "Dr.", value: 3}
        ],
        noGradeSchool: false
      };
    },

    created () {
      this.noGradeSchool = this.$store.state.data.parish.grade_school.no_grade_school;
    },

    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep']),

      finish () {
        this.updateTempDB('school');
      },

      updateCheckBox () {
        this.$store.commit('updateJson', {
          value: this.noGradeSchool,
          key: 'no_grade_school',
          parentKey: 'grade_school'
        });
      }
    },

    components: {
      textInput,
      dropDown
    }
  };
</script>
