<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
        <img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("confession_times_title")}}</h2>
        
        <div class="step-box">
          <div class="step-box-content">
            <div v-for="(item, index) in items"
                 class="daytime-wrap step-box-section">
              
              <div class="step-box-row">
                <span class="step-box-sub-top">{{valueForKey("day_label")}}</span>
                <multiSelect v-on:update="updateDaySelection"
                             :selected="item.days"
                             :index="index">
                </multiSelect>
              </div>

              <div class="step-box-row-multi">
                <div class="multi-row-time">
                  <span class="step-box-sub-top">{{valueForKey("start_time_label")}}</span>
                  <div class="select-wrap">
                    <input v-on:input="validateTimeRange(index)"
                           :class="{error: showErrors && !item.validRange}"
                           v-model="item.timeStart"
                           type="time" />
                  </div>
                </div>
                
                <div class="multi-row-to">
                  to
                </div>
                
                <div class="multi-row-time">
                  <span class="step-box-sub-top">{{valueForKey("end_time_label")}}</span>
                  <div class="select-wrap">
                    <input v-on:input="validateTimeRange(index)"
                           :class="{error: showErrors && !item.validRange}"
                           v-model="item.timeEnd"
                           type="time" />
                  </div>
                </div>
  
                <!--
                <div class="multi-row-lang">
                  <span class="step-box-sub-top">{{valueForKey("language_label")}}</span>
                  <div class="select-wrap">
                    <select v-model="dayTimesData[day_index]['timeSlots'][index]['language']">
                      <option v-for="option in languages">{{option}}</option>
                    </select>
                    <img src="assets/wizard/select-arrow.svg" alt="" />
                  </div>
                </div>
                -->
                
              </div>
              <div class="day-h-divider"></div>
            </div>

            <div class="step-box-row-button">
              <span @click="addItem" class="clear-button">
                + {{valueForKey("add_day_button")}}
              </span>
            </div>
          </div>
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import {mapState, mapActions, mapMutations} from 'vuex';
  
  import multiSelect from 'components/multiSelect.vue';
  
  
  export default {
    data() {
      return {
        items: [],
        languages: ['en', 'es']
      };
    },
    
    created () {
      let value = this.$store.state.data.parish.confessionTime;
      this.items = value.filter(elm => !elm['_example']);
      if (!this.items.length)
        this.addItem();
    },
  
    computed: mapState({
      showErrors: state => state.nav.showErrors,
      language: state => state.nav.language
    }),
    
    watch: {
      items () {
        this.save();
      }
    },
    
    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep']),
  
      finish () {
        this.updateTempDB('confessionTime');
      },
      
      addItem () {
        let item = {
          timeStart: "11:00",
          timeEnd: "12:00",
          days: [],
          language: this.language
        };
        this.items.push(item);
      },
  
      validateTimeRange (index) {
        if (this.items[index].timeStart && this.items[index].timeEnd) {
          if (this.items[index].timeStart >= this.items[index].timeEnd) {
            this.$store.commit('updateErrors', {
              error: 1,
              key: 'time_range_' + index
            });
        
            this.items[index].validRange = false;
          } else {
            this.$store.commit('updateErrors', {
              error: 0,
              key: 'time_range_' + index
            });
        
            this.items[index].validRange = true;
          }
        }
      },
  
      updateDaySelection ({index, value}) {
        this.items[index].days = value;
        this.save();
      },
  
      removeDayTime (index) {
        this.items.splice(index, 1);
      },
  
      save () {
        this.$store.commit('updateJson', {
          value: this.items.filter(elm => !!elm.days.length),
          key: "confessionTime"
        });
      }
    },
    
    components: {
      multiSelect
    }
  };
</script>
