<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("section2_finish_title")}}</h2>
        <p class="finish-msg">
          {{valueForKey("section2_finish_message")}}
        </p>
        
        <button type="button"
                name="button"
                @click='finishSection'
                class="blue-button">
          {{valueForKey("section3_button")}}
        </button>
      </div>
      
      <div class="step-block-side">
      </div>
    </div>
  </div>
</template>

<script>
  import {mapMutations} from 'vuex';
  
  export default {
    methods: {
      ...mapMutations(['finishSection'])
    }
  };
</script>
