<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
        <img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("other_programs_organizations_title")}}</h2>
        
        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <div v-for="(item, index) in items">
                <div class="step-box-row">
                  <input :placeholder="valueForKey('program_title_prompt')"
                         type="text"
                         v-model="item.name"
                         v-on:input="validateBoxFields(item, index)" />
                  <span v-if="errors[index] && errors[index].name">{{errors[index].name}}</span>
                </div>
                
                <div class="step-box-row">
                  <textarea v-model="item.detail"
                            v-on:input="validateBoxFields(item, index)"
                            :placeholder="valueForKey('placeholder_description')">
                  </textarea>
                  <span v-if="errors[index] && errors[index].detail">{{errors[index].detail}}</span>
                </div>
              </div>
              
              <div class="section-h-divider"></div>
            </div>
            
            <div class="step-box-row-button">
              <span @click="addItem" class="clear-button">
                + {{valueForKey("add_program_organization_button")}}
              </span>
            </div>
          </div>
          
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import {mapActions, mapMutations} from 'vuex';
  
  
  export default {
    data() {
      return {
        items: [],
        isValid: [],
        errors: []
      };
    },
    
    created: function () {
      let value = this.$store.state.data.parish.otherProgram;
      if (value)
        this.items = value.filter(elm => !elm['_example']);
      if (!this.items.length)
        this.addItem();
    },
    
    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep']),
  
      finish () {
        this.updateTempDB('otherProgram');
      },
      
      removeBoxData (index) {
        this.items.splice(index, 1);
      },
  
      addItem () {
        let item = {
          name: "",
          detail: ""
        };
        this.items.push(item);
      },
  
      validateBoxFields (item, index) {
        let valid = true;
        this.errors[index] = {};
    
        // validate min and max length requirements for textbox
        if (item.detail.length < 10) {
          valid = false;
          this.errors[index].detail = "must be at least 10 chars in length";
        } else if (item.detail.length > 5000) {
          valid = false;
          this.errors[index].detail = "can be at most 5000 chars in length";
        } else {
          this.errors[index].detail = "";
        }
  
        // validate presence of name
        if (!item.name) {
          valid = false;
          this.errors[index].name = "Must fill out name field";
        } else {
          this.errors[index].name = "";
        }
  
        this.$store.commit('updateErrors', {
          error: valid ? 0 : 1,
          key: 'other_program_' + index
        });
    
        this.isValid[index] = valid;
        if (this.isValid.indexOf(false) == -1) {
          this.$store.commit('updateJson', {
            value: this.items,
            key: "otherProgram"
          });
        }
      }
    }
  };
</script>
