<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("sacrament_title")}}</h2>
        
        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              
              <div v-for="(item, index) in items">
                <div class="step-box-row">
                  <h3>{{valueForKey("add_sacrament_button")}}</h3>
                  <input v-on:input="validateBoxFields(item, index)"
                         type="text"
                         v-model="item.name" />
                  <span v-if="errors[index] && errors[index].name">{{errors[index].name}}</span>
                </div>
                
                <div class="step-box-row">
                  <textarea v-model="item.detail"
                            v-on:input="validateBoxFields(item, index)"
                            :placeholder="valueForKey('placeholder_description')">
                  </textarea>
                  <span v-if="errors[index] && errors[index].detail">{{errors[index].detail}}</span>
                </div>
              </div>

              <div class="section-h-divider"></div>
            </div>
            
            <div class="step-box-row-button">
              <span @click="addItem" class="clear-button">
                + {{valueForKey("add_sacrament_button")}}
              </span>
            </div>
          </div>
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import {mapActions} from 'vuex';
  
  
  export default {
    data() {
      return {
        items: [],
        isValid: [],
        errors: []
      };
    },
    
    created () {
      let value = this.$store.state.data.parish.sacrament;
      if (value)
        this.items = value.filter(elm => !elm['_example']);
      if (!this.items.length)
        this.addItem();
    },
    
    methods: {
      ...mapActions(['updateTempDB']),
  
      finish () {
        this.updateTempDB('sacrament');
      },
      
      removeBoxData (index) {
        this.items.splice(index, 1);
      },
  
      addItem () {
        let item = {
          name: "Baptism",
          detail: ""
        };
        this.items.push(item);
      },
      
      validateBoxFields (item, index) {
        let valid = true;
        this.errors[index] = {};
        
        // validate min and max length requirements for textbox
        if (item.detail.length < 10) {
          valid = false;
          this.errors[index].detail = "must be at least 10 chars in length";
        } else if (item.detail.length > 5000) {
          valid = false;
          this.errors[index].detail = "can be at most 5000 chars in length";
        } else {
          this.errors[index].detail = "";
        }
  
        // validate presence of name
        if (!item.name) {
          valid = false;
          this.errors[index].name = "Choose your Sacrament type";
        } else {
          this.errors[index].name = "";
        }
  
        this.$store.commit('updateErrors', {
          error: valid ? 0 : 1,
          key: 'sacrament_' + index
        });
  
        this.isValid[index] = valid;
        if (this.isValid.indexOf(false) == -1) {
          this.$store.commit('updateJson', {
            value: this.items,
            key: "sacrament"
          });
        }
      },
      
      onFileChange (input, index) {
        console.log(input);
        console.log(input.files);
        
        if (input.files && input.files[0]) {
          let reader = new FileReader();
          reader.onload = e => console.log("HEREEE");
          reader.readAsDataURL(input.files[0]);
        }
      },
      
      createImage (file, index) {
        let reader = new FileReader();
        reader.onload = e => this.items[index].pdf = e.target.result;
        reader.readAsDataURL(file);
      },
      
      removeImage (index) {
        this.items[index].pdf = '';
      }
    }
  };
</script>
