<template lang="html">
  <div class="section-container">
    <component :is='currentStep'></component>
  </div>
</template>

<script>
  import step1 from './step0_1.vue';
  import step2 from './step0_2.vue';
  import step3 from './step0_3.vue';
  import step4 from './step0_4.vue';
  
  
  export default {
    name: 'section0',
    
    data () {
      return {
        maxSteps: 4
      };
    },
    
    computed: {
      currentStep () {
        return 'step' + this.$store.state.nav.step;
      }
    },
    
    created () {
      this.$store.commit('setMaxSteps', this.maxSteps);
    },
    
    components: {
      step1,
      step2,
      step3,
      step4
    }
  };
</script>
