<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
      </div>
      
      <div class="step-block-middle">
        <h2>Choose your language</h2>
        <p>Before we start, please choose your default language: </p>
        
        <div class="language-select">
          <dropDown :options="options"
                    v-on:update="onUpdate"
                    required="true"
                    :default="defaultVal">
          </dropDown>
        </div>
        
        <button type="button"
                name="button"
                @click="applyLanguage"
                class="blue-button">
          Apply
        </button>
      </div>
      
      <div class="step-block-side">
      </div>
    </div>
  </div>
</template>

<script>
  import dropDown from 'components/dropDown';
  
  
  export default {
    data() {
      return {
        options: [
          {label: 'English', value: 'en'},
          {label: 'Spanish', value: 'es'}
        ],
        defaultVal: 'en',
        current: 'en'
      }
    },
    
    created () {
      let defaultVal = this.$store.state.data.parish['language'];
      if (defaultVal)
        this.defaultVal = defaultVal;
    },
    
    methods: {
      onUpdate (value) {
        this.current = value;
      },
      
      applyLanguage () {
        this.$store.commit('updateJson', {
          key: 'language',
          value: this.current
        });
        this.$store.commit('applyLanguage', this.current);
      }
    },
    
    components: {
      dropDown
    }
  };
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  .language-select {
    margin: 20px;
    width: 50%;
  }
</style>
