<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
      </div>
      
      <div class="step-block-middle">
        <h2>Choose Parish to edit</h2>
        
        <div class="step-box-content login-content">
          <div class="step-box-section">
            <div class="select-wrap">
              
              <select v-model="selectedParish">
                <option value="0">New Parish</option>
                <option v-for="option in options" v-bind:value="option">
                  {{option.get('name')}}
                </option>
              </select>
              
              <img src="assets/wizard/select-arrow.svg" alt="" />
              
            </div>
          </div>
        </div>

        <button type="button"
                name="button"
                @click='setParish'
                class="blue-button">
          Select
        </button>
      </div>
      
      <div class="step-block-side">
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import {mapState} from 'vuex';
  
  
  export default {
    data () {
      return {
        selectedParish: '0'
      };
    },
    
    computed: mapState({
      options: state => state.data.parse.common.parish
    }),
    
    methods: {
      setParish () {
        this.$store.dispatch('setParish', this.selectedParish);
      }
    }
  };
</script>
