<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
      </div>
      
      <form class="step-block-middle" @submit="onLogin">
        <h2>Login</h2>
        
        <div class="step-box-content login-content">
          <div class="step-box-section">
            <div class="step-box-row">
              <h3>Email</h3>
              <input v-model="email" type="text" />
            </div>
          </div>
          
          <div class="step-box-section">
            <div class="step-box-row">
              <h3>Password</h3>
              <input v-model="password" type="password" />
            </div>
          </div>
        </div>
        
        <button type="submit"
                name="button"
                class="blue-button login-button">
          Login
        </button>
      </form>
      
      <div class="step-block-side">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        email: '',
        password: ''
      };
    },
    
    methods: {
      onLogin (e) {
        e.preventDefault();
        this.$store.dispatch('login', {
          email: this.email,
          password: this.password
        });
      }
    }
  };
</script>
