<template lang="html">
  <div>
    <div class="step-container">
      <div class="step-block-side">
        <!--<img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>-->
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("theme_color_title")}}</h2>
        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <h3>{{valueForKey("theme_color_message")}}</h3>
              <span class="step-box-sub-top">{{valueForKey("theme_color_submessage")}}</span>
            </div>
            
            <div class="step-box-section">
              <div class="color-box"
                   :class="{active: selectedCheck(colorBox)}"
                   v-for="colorBox in colorBoxes"
                   @click="setColor(colorBox)"
                   :style="{backgroundColor: colorBox.color}">
              </div>
            </div>
          </div>
          
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapMutations} from 'vuex';
  
  import textInput from 'components/textInput.vue';
  
  
  export default {
    data() {
      return {
        selectedColor: '',
        colorBoxes: [
          {color: '#2F329F', image: ''},
          {color: '#006FAA', image: ''},
          {color: '#0093C0', image: ''},
          {color: '#00FFFF', image: ''},
          {color: '#EEFF00', image: ''},
          {color: '#EE2000', image: ''}
        ]
      };
    },
    
    created () {
      let value = this.$store.state.data.parish.themeColor;
      if (value)
        this.selectedColor = value;
    },
    
    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep', 'updateJson']),
  
      finish () {
        this.updateTempDB('parish');
      },
      
      selectedCheck (colorBox) {
        return this.selectedColor == colorBox.color;
      },
      
      setColor (colorBox) {
        this.selectedColor = colorBox.color;
  
        this.updateJson({
          value: this.selectedColor,
          key: "themeColor",
          parentKey: ""
        });
      }
    },
    
    components: {
      textInput
    }
  };
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  .step-box-section {
    text-align: center;
  }

  .color-box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 5px;
    border: 5px solid white;
  
    &.active {
      border: none;
    }
  }
</style>
