<template lang="html">
  <div>
    <div class="step-container">
      <div class="step-block-side">
        <img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("general_settings_title")}}</h2>
        
        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <h3>{{valueForKey("desired_domain_name_label")}}</h3>
              
              <div class="step-box-row">
                <textInput pkey="domain" required="true" validationType="url"></textInput>
              </div>
              
              <div class="step-box-row" v-if="false">
                <input type="checkbox"
                       @change="updateCheckBox"
                       v-model="ownDomain" />
                <label for="checkbox"> Check if you already own this domain</label>
              </div>
            </div>
            
            <div class="step-box-section">
              <h3>{{valueForKey("social_media_label")}}</h3>
              
              <span class="step-box-sub-top">Facebook</span>
              <textInput pkey="facebook" validationType="url"></textInput>
              
              <span class="step-box-sub-top">Twitter</span>
              <textInput pkey="twitter" validationType="url"></textInput>
              
              <span class="step-box-sub-top">Instagram</span>
              <textInput pkey="instagram" validationType="url"></textInput>
              
              <span class="step-box-sub-top">YouTube</span>
              <textInput pkey="youtube" validationType="url"></textInput>
            </div>
          </div>
          
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapMutations} from 'vuex';
  
  import textInput from 'components/textInput.vue';
  
  
  export default {
    data() {
      return {
        ownDomain: false
      };
    },
    
    created () {
      this.ownDomain = this.$store.state.data.parish['own_domain'];
    },
    
    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep']),
  
      finish () {
        this.updateTempDB('parish');
      },
      
      updateCheckBox () {
        this.$store.commit('updateJson', {
          value: this.ownDomain,
          key: 'own_domain',
          parentKey: ''
        });
      }
    },
    
    components: {
      textInput
    }
  };
</script>
