<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("finished_title")}}</h2>
        <p class="finish-msg">
          {{valueForKey("finished_message")}}
        </p>
        
        <button type="button"
                name="button"
                @click="finishForm"
                class="blue-button">
          {{valueForKey("finished_button")}}
        </button>
      </div>
      
      <div class="step-block-side">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      finishForm () {
        window.location.href = "/";
        //this.$store.dispatch("createParish");
      }
    }
  };
</script>
