<template lang="html">
  <div>
    <div class="step-container">
      <div class="step-block-side">
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("admin_login_title")}}</h2>
        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <div class="step-box-row">
                <h3>{{valueForKey("username_label")}}</h3>
                <textInput min="8"
                           max="20"
                           pkey="username"
                           parentKey="admin"
                           required="true">
                </textInput>
              </div>
              
              <div class="step-box-row">
                <h3>{{valueForKey("password_label")}}</h3>
                <textInput pkey="password"
                           parentKey="admin"
                           required="true"
                           type="password">
                </textInput>
              </div>
            </div>
          </div>
          
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  
  import textInput from 'components/textInput.vue';
  
  
  export default {
    components: {
      textInput
    },
    
    methods: {
      ...mapActions(['updateTempDB']),
  
      finish () {
        this.updateTempDB();
      }
    }
  };
</script>
