<template>
  <div class="app-container">
    <loader v-if="loading"></loader>
    
    <div class="sidebar-wrap">
      <pcsidebar v-on:close-sidebar='sidebar = false'></pcsidebar>
    </div>

    <div class="main-wrap" :class="[sidebar ? 'open' : '']">
      <transition>
        <div class="curtain"
             v-if="sidebar"
             @click='sidebar = false'>
        </div>
      </transition>
      <div class="container">
        <div class="main-top">
          <div class="menu-toggle-wrap">
            <span class="menu-toggle"
                  v-if="this.$store.state.nav.section != 0"
                  :class="[sidebar ? 'open' : '']"
                  @click='sidebar = true'>
              <img src="assets/wizard/menu-white.svg" alt="" />
              {{valueForKey("menu_button")}}
            </span>
          </div>
          <stepPager v-if="this.$store.state.nav.section != 0"></stepPager>
        </div>
        <div class="main-middle">
          <component :is='currentSection'></component>
        </div>
        <div class="main-bottom">
          <sectionPager v-if="this.$store.state.nav.section != 0"></sectionPager>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  
  import section0 from 'components/sections/section_0/section0';
  import section1 from 'components/sections/section_1/section1';
  import section2 from 'components/sections/section_2/section2';
  import section3 from 'components/sections/section_3/section3';
  import section4 from 'components/sections/section_4/section4';
  import section5 from 'components/sections/section_5/section5';
  import pcsidebar from 'components/pcsidebar.vue';
  import sectionPager from 'components/sectionPager.vue';
  import stepPager from 'components/stepPager.vue';
  import loader from 'components/loader';
  
  
  export default {
    name: 'app',
    
    data() {
      return {
        sidebar: false
      };
    },
    
    computed: mapState({
      currentSection: state => 'section' + state.nav.section,
      loading: state => state.initialize.loading
    }),
    
    components: {
      section0,
      section1,
      section2,
      section3,
      section4,
      section5,
      pcsidebar,
      sectionPager,
      stepPager,
      loader
    }
  };
</script>

<style lang="scss" rel="stylesheet/scss">
  @import 'normalize.css';

  * {
    box-sizing: border-box;
  }

  html, body, div, span,
  h1, h2, h3, h4, h5, h6, p, blockquote,
  a, img, ins, i,ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  /* strip buttons */
  button {
    border-radius: 0;
    outline: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
  }

  body, html {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    overflow: hidden;
  }
</style>


<style lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';
  
  textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #E4E4E4;
    box-shadow: inset 0px 0px 10px 5px rgba(248,248, 248, .5);
    font-family: 'Open sans', sans-serif;
    font-size: 1em;
    padding: 15px 10px;
    color: #666;
    outline: none;
    
    &:focus {
      border-color: $PCBLUE;
    }
  }
  
  input[type='text'], input[type='password'] {
    border: 1px solid #E4E4E4;
    box-shadow: inset 0px 0px 10px 5px rgba(248,248, 248, .5);
    width: 100%;
    font-family: 'Open sans', sans-serif;
    font-size: 1em;
    padding: .625em .938em;
    color: #666;
    outline: none;
    
    &:focus {
      border-color: $PCBLUE;
    }
  }
  
  .blue-button {
    text-align: center;
    padding: 15px 30px;
    background-color: $PCBLUE;
    color: white;
    display: block;
    font-size: .8em;
    font-weight: 300;
  }
  
  .clear-button {
    text-align: center;
    padding: .938em 1.875em;
    background-color: transparent;
    color: $PCBLUE;
    border: 1px solid $PCBLUE;
    display: block;
    font-size: .8em;
    font-weight: 300;
    cursor: pointer;
  }
  
  .blue-link {
    color: $PCBLUE;
    font-size: .75em;
    cursor: pointer;
    
    &:hover {
      color: darken($PCBLUE, 25%);
    }
  }
  
  .select-wrap {
    position: relative;
    
    select {
      appearance: none;
      border: 1px solid #E4E4E4;
      border-radius: 0;
      box-shadow: inset 0px 0px 10px 5px rgba(248, 248, 248, .5);
      width: 100%;
      font-family: 'Open sans', sans-serif;
      font-size: 1em;
      padding: 10px 15px;
      color: #666;
      background-color: white;
      outline: none;
    }
    
    img {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      pointer-events: none;
    }
  }
  
  .container {
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .app-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
    .sidebar-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: $SIDEBAR_WIDTH;
      height: 100vh;
      z-index: 1;
    }
    
    .menu-toggle-wrap {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%;
    }
    
    .main-wrap {
      height: 100vh;
      width: 100%;
      background-color: #F8F8F8;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform .5s;
      z-index: 5;
      
      &.open {
        transform: translate3d($SIDEBAR_WIDTH, 0, 0);
      }
      
      .curtain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .7);
        z-index: 10;
      }
      
      .main-top, .main-bottom {
        height: $OUTER_HEIGHT;
      }
      
      .main-middle {
        height: $MIDDLE_HEIGHT;
        .middle-content {
          margin: 0 auto;
        }
      }
      
      .main-top, .main-middle, .main-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    }
  }
  
  .menu-toggle {
    font-weight: 300;
    color: #9B9B9B;
    transition: opacity .3s;
    cursor: pointer;
    
    &.sidebar-menu {
      color: #FFF;
    }
    
    &.open {
      opacity: 0;
      cursor: default;
    }
    
    img {
      vertical-align: top;
      margin-right: 10px;
      width: 25%;
    }
  }
  
  .section-container {
    width: 100%;
  }
  
  .step-container {
    display: flex;
    
    h2 {
      color: $PCBLUE;
      font-size: 1.2em;
      text-align: center;
      height: 50px;
    }
    
    p {
      font-size: 1em;
      color: #4A4A4A;
      margin: 10px;
      line-height: 1.5em;
    }
    .step-block-middle, .step-block-side {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .step-block-middle {
      width: 70%;
      flex-flow: column nowrap;
    }
    
    .step-block-side {
      width: 15%;
      
      img:hover {
        cursor: pointer;
        opacity: .65;
      }
    }
    
    .step-box {
      background-color: white;
      box-shadow: 0px 4px 8px rgba(0,0,0,.09);
      width: 100%;
      max-height: calc(#{$MIDDLE_HEIGHT} - 50px);
      
      .step-box-content {
        padding: 40px 20px;
        max-height: calc(#{$MIDDLE_HEIGHT} - 100px);
        overflow: scroll;
      }
    }
    
    .snc-button {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      background-color: $PCBLUE;
      color: white;
      display: block;
      font-size: 1em;
      font-weight: 300;
      height: 50px;
    }
  }
  
  .step-box-section {
    position: relative;
    width: 100%;
    padding-bottom: 1.25em;
    
    .section-h-divider {
      position: absolute;
      bottom: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: #E4E4E4;
    }
    
    .step-box-row {
      margin-bottom: 10px;
    }
    
    .step-box-row-multi {
      display: flex;
      margin-bottom: 10px;
      
      >div {
        flex: 1;
        padding: 0 3px;
        
        &:first-child {
          padding-left: 0;
        }
        
        &:last-child {
          padding-right: 0;
        }
      }
      
      .multi-row-time {
        flex: 6;
      }
      
      .multi-row-to {
        flex: 1;
        text-align: center;
        padding-top: 2.5em;
      }
      
      .multi-row-mass {
        flex: 10;
      }
      
      .multi-row-lang {
        flex: 4;
      }
      
      .multi-row-city {
        flex: 4;
      }
      
      .multi-row-state {
        flex: 1;
      }
      
      .multi-row-zip {
        flex: 2;
      }
    }
    
    .step-box-row-imgs {
      display: flex;
    }
    
    .step-box-sub-label, .step-box-sub-top {
      font-size: .8em;
      color: #666;
      margin: 8px 15px;
      display: block;
    }
    
    .step-box-sub-top {
      margin-left: 0;
    }
    
    h3 {
      font-size: 1em;
      margin-bottom: .938em;
      color: #4A4A4A;
    }
  }
  
  .step-box-row-button {
    margin-top: 20px;
  }
  
  .login-content {
    width: 80%;
    max-width: 600px;
  }
  
  .login-button {
    font-size: 1em;
    padding: .938em 7em;
    font-weight: 400;
    margin-top: 1em;
  }
  
  .daytime-wrap {
    position: relative;
    padding-bottom: 20px;
    
    .remove-day {
      border-radius: 50%;
      color: white;
      position: absolute;
      top: 50%;
      left: -28px;
      transform: translateY(-50%);
      background-color: #D0D0D0;
      height: 1em;
      width: 1em;
      padding: .25em;
      font-size: 1em;
    }
    
    .day-h-divider {
      position: absolute;
      bottom: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: #E4E4E4;
    }
  }
  
  input.error {
    border-color: red;
  }

  .finish-msg {
    text-align: center;
    margin-bottom: 40px;
  }

  .v-enter-active, .v-leave-active {
    transition: opacity .5s
  }
  .v-enter, .v-leave-active {
    opacity: 0
  }


</style>
