<template>
  <div class="drop-down">
    <select :disabled="disableInput"
            v-model="selected"
            @change="onChange">
      <option v-if="!required"></option>
      <option v-for="option in options" v-bind:value="option.value">
        {{option.label}}
      </option>
    </select>
    <img src="assets/wizard/select-arrow.svg" alt="" />
  </div>
</template>

<script>
  export default {
    name: 'dropDown',
    
    props: ['disableInput', 'default', 'options', 'required'],
    
    data () {
      return {
        selected: this.default
      }
    },
    
    methods: {
      onChange () {
        this.$emit('update', this.selected);
      }
    }

  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';

  .drop-down {
    position: relative;
  
    select {
      appearance: none;
      border: 1px solid #E4E4E4;
      border-radius: 0;
      box-shadow: inset 0px 0px 10px 5px rgba(248,248, 248, .5);
      width: 100%;
      font-family: 'Open sans', sans-serif;
      font-size: 1em;
      padding: .625em .938em;
      color: #666;
      background-color: white;
      outline: none;
    }
  
    img {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      pointer-events: none;
    }
  }
</style>
