<template>
  <div class="image-upload">
    <div v-if="!!items.length">
      <div v-if="multi" class="image-container">
        <div v-for="(image, index) in itemURLs">
          <img :src="image" />
          <button @click="removeImage(index)" class="remove-image">{{valueForKey('remove_picture')}}</button>
        </div>
      </div>
      
      <div v-else>
        <img v-if="preview" :src="itemURLs[0]" />
        <button @click="removeImage" class="remove-image">{{valueForKey('remove_picture')}}</button>
      </div>
    </div>
  
    <div v-if="multi || !items.length">
      <input type="file" :id="id" @change="onFileChange" class="image-input">
      <label :for="id" class="image-input-label">
        + {{multi ? valueForKey('add_pictures') : valueForKey('add_picture')}}
      </label>
    </div>
  </div>
</template>

<script type="text/babel">
  import {mapActions} from 'vuex';
  
  
  export default {
    name: 'imageUpload',
    
    props: ['preview', 'multi', 'images'],
    
    data () {
      return {
        id: Math.random().toString(),
        items: [],
        itemURLs: []
      }
    },
    
    created () {
      this.items = this.images
        .slice()
        .filter(i => !!i && !!i.get('file'));
  
      this.update();
    },
    
    methods: {
      ...mapActions(['createMediaItem']),
      
      update () {
        this.itemURLs = this.items.map(i => i.get('file').url());
        this.$emit('update', this.items);
      },
      
      onFileChange (e) {
        let files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;
        
        this.createMediaItem(files[0])
          .then(item => {
            if (this.multi)
              this.items.push(item);
            else
              this.items = [item];
            this.update();
          });
      },
      
      removeImage (index) {
        if (this.multi)
          this.items.splice(index, 1);
        else
          this.items = [];
        
        this.update();
      }
    }
  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';

  .image-upload {
    .image-input {
      //hiding input since we can't use display: none or vis: hidden here
      height: .1px;
      width: .1px;
      opacity: 0;
      z-index: -1;
      overflow: hidden;
      position: absolute;
    }
  
    .image-input-label {
      color: $PCBLUE;
      font-size: .825em;
      cursor: pointer;
    }
  
    .remove-image {
      color: red;
      background-color: transparent;
      font-size: .825;
      cursor: pointer;
      margin-top: auto;
      align-self: flex-start;
    }
  
    .image-container {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 10px;
    
      div {
        flex: 0 0 30%;
        margin: 0 1.5%;
        display: flex;
        flex-flow: column nowrap;
      }
    }
  
    img {
      max-width: 100%;
    }
  }
</style>
