<template>
  <div class="day-selector">
    <div class="selected-box">
      <div class="" @click="toggleList">
        <span class="selected-text"> {{pselected.length == 0 ? '' : days}} </span>
        <img src="assets/wizard/select-arrow.svg" alt="" />
      </div>
      
      <ul v-show="displayList" class="day-list">
        <li class="option-box"
            v-for="(option, index) in options"
            :class="{active: selectedCheck(index + 1)}"
            @click="onChange(index + 1)">
          {{option.short}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script type="text/babel">
  export default {
    name: 'multiSelect',
    
    props: ['selected', 'index'],
    
    data () {
      return {
        pselected: [],
        displayList: false,
        options: [
          {label: this.$store.state.nav.languageKeys["monday_label"],   short: this.$store.state.nav.languageKeys["monday_label"].substring(0, 3).toUpperCase()},
          {label: this.$store.state.nav.languageKeys["tuesday_label"],  short: this.$store.state.nav.languageKeys["tuesday_label"].substring(0, 3).toUpperCase()},
          {label: this.$store.state.nav.languageKeys["wednesday_label"],short: this.$store.state.nav.languageKeys["wednesday_label"].substring(0, 3).toUpperCase()},
          {label: this.$store.state.nav.languageKeys["thursday_label"], short: this.$store.state.nav.languageKeys["thursday_label"].substring(0, 3).toUpperCase()},
          {label: this.$store.state.nav.languageKeys["friday_label"],   short: this.$store.state.nav.languageKeys["friday_label"].substring(0, 3).toUpperCase()},
          {label: this.$store.state.nav.languageKeys["saturday_label"], short: this.$store.state.nav.languageKeys["saturday_label"].substring(0, 3).toUpperCase()},
          {label: this.$store.state.nav.languageKeys["sunday_label"],   short: this.$store.state.nav.languageKeys["sunday_label"].substring(0, 3).toUpperCase()}
        ]
      }
    },
    
    computed: {
      days () {
        return this.pselected
          .sort()
          .map(x => this.options[x - 1].label)
          .join(', ');
      }
    },
    
    created () {
      this.pselected = this.selected.slice();
    },
    
    methods: {
      selectedCheck (selection) {
        return (this.pselected.indexOf(selection) >= 0);
      },
      
      onChange (item) {
        if (!this.selectedCheck(item))
          this.pselected.push(item);
        else
          this.pselected.splice(this.pselected.indexOf(item), 1);
        
        this.$emit('update', {
          index: this.index,
          value: this.pselected
        });
      },
      
      toggleList () {
        this.displayList = !this.displayList;
      }
    }
  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';

  .day-selector {
    .selected-box {
      position: relative;
    
      border: 1px solid #E4E4E4;
      border-radius: 0;
      box-shadow: inset 0px 0px 10px 5px rgba(248,248, 248, .5);
      width: 100%;
      font-family: 'Open sans', sans-serif;
      font-size: 1em;
      padding: 13px 15px;
      color: #666;
      background-color: white;
      outline: none;
    
      span {
        white-space: pre;
      }
    }
  
    img {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      pointer-events: none;
    }
  
    .day-list {
      position: absolute;
      left: -1px;
      top: 100%;
      background-color: #F6F6F6;
      border: 1px solid #D0D0D0;
      z-index: 100;
      padding: 1em;
      width: calc(100% + 2px);
      display: flex;
      justify-content: space-around;
    
      li {
        border-radius: 50%;
        border: 1px solid $PCBLUE;
        color: $PCBLUE;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4em;
        width: 4em;
        margin: 0 .5em;
        cursor: pointer;
      
        &.active {
          color: white;
          background-color: $PCBLUE;
        }
      }
    }
  }
</style>
