<template lang="html">
  <div class="pcsidebar">
    <div class="sidebar-top">
      <span class="sidebar-menu menu-toggle">
        <img src="assets/wizard/menu-white.svg" alt="" />
        {{valueForKey("menu_button")}}
      </span>
      <span @click="closeSidebar" style="cursor: pointer;">X</span>
    </div>
    <div class="sidebar-section">
      <ul>
        <li class="section-header">{{valueForKey("menu_sections_label")}}</li>
        <li @click="setSection(1)" :class="{'selected': section == 1}">{{valueForKey("menu_parish_information_button")}}</li>
        <li @click="setSection(2)" :class="{'selected': section == 2}">{{valueForKey("menu_worship_schedule_button")}}</li>
        <li @click="setSection(3)" :class="{'selected': section == 3}">{{valueForKey("menu_sacrament_ministry_button")}}</li>
        <li @click="setSection(4)" :class="{'selected': section == 4}">{{valueForKey("menu_parish_office_button")}}</li>
        <li @click="setSection(5)" :class="{'selected': section == 5}">{{valueForKey("menu_website_settings_button")}}</li>
      </ul>
    </div>
    <div class="sidebar-section">
      <ul>
        <li class="section-header">{{valueForKey("menu_languages_label")}}</li>
        <li>English</li>
        <li>+ {{valueForKey("menu_add_language_button")}}</li>
      </ul>
    </div>
    <div class="sidebar-section">
      <ul>
        <li class="section-header">{{valueForKey("menu_help_button")}}</li>
        <li>{{valueForKey("menu_documentation_label")}}</li>
        <li>{{valueForKey("menu_preview_website_button")}}</li>
        <li>Progress Overview</li>
      </ul>
    </div>
    <div class="final-submit-button">
      <button type="button"
              name="button"
              @click="returnToCMS">
        Return to CMS
      </button>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  
  
  export default {
    name: 'pcsidebar',
  
    computed: mapState({
      section: state => state.nav.section
    }),

    methods: {
      closeSidebar () {
        this.$emit('close-sidebar');
      },
      
      setSection (val) {
        this.$store.commit('setSection', val);
        this.closeSidebar();
      },
  
      returnToCMS () {
        window.location.href = "/";
      }
    }
  };
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';

  .pcsidebar {
    height: 100%;
    width: 100%;
    background-color: $PCBLUE;
    position: relative;
    
    .sidebar-top {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      color: white;
    }
    
    .sidebar-section {
      margin-bottom: 20px;
      font-size: .8em;
      font-weight: 300;
      
      ul {
        li {
          color: white;
          padding: 10px 15px;
          cursor: pointer;
          
          &.section-header {
            background-color: #366CAC;
            padding-left: 10px;
          }
          
          &:not(.section-header):hover {
            background-color: #407EC7;
          }
          
          &.selected {
            background-color: #3a81ce;
          }
        }
      }
    }
    
    .final-submit-button {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 15px 0;
      
      button {
        border: 2px solid white;
        border-radius: 0;
        padding: 10px 10px;
        width: 70%;
        color: white;
        font-family: 'Open sans', sans-serif;
        margin: 0 auto;
        background-color: transparent;
        display: block;
        cursor: pointer;
      }
      
      button:hover {
        filter: drop-shadow(0 0 0px white);
      }
    }
  }
</style>
