<template lang="html">
  <div class="section-pager">
    <span class="sp-title">{{sections[activeIndex-1].text}}</span>
    <ul>
      <li v-for="s in sections" @click='setSection(s.id)' :class="[activeIndex == s.id ? 'active': '']"></li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'sectionPager',
    
    data () {
      return {
        sections: [
          {
            id: 1,
            text: this.valueForKey("section1_navigation")
          },
          {
            id: 2,
            text: this.valueForKey("section2_navigation")
          },
          {
            id: 3,
            text: this.valueForKey("section3_navigation")
          },
          {
            id: 4,
            text: this.valueForKey("section4_navigation")
          },
          {
            id: 5,
            text: this.valueForKey("section5_navigation")
          }
        ],
        sectionText: ''
      };
    },
    
    computed: {
      activeIndex () {
        return this.$store.state.nav.section;
      }
    },
    
    methods: {
      setSection (s) {
        this.$store.commit('setSection', s);
      }
    }
  };
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';

  .section-pager {
    .sp-title {
      font-size: .75em;
      color: $PCBLUE;
      margin-bottom: 5px;
      display: block;
    }
    
    ul {
      text-align: center;
      padding: 0;
      
      li {
        border: 1px solid $PCBLUE;
        border-radius: 50%;
        display: inline-block;
        height: .75em;
        width: .75em;
        margin: 0 5px;
        
        &.active {
          background-color: $PCBLUE;
        }
      }
    }
  }
</style>
