<template lang="html">
  <div class="step-pager">
    <span class="stp-title">{{stepText}}</span>
    <ul>
      <li v-for="n in stepCount" :class="[n <= step ? 'blue' : '', status(n)]"></li>
    </ul>
  </div>
</template>

<script>
  export default {
    computed: {
      step () {
        return this.$store.state.nav.step;
      },
      
      stepText() {
        return this.$store.state.nav.languageKeys["step_label"] + ' ' + this.step + ' ' + this.$store.state.nav.languageKeys["of_label"] + ' ' + this.stepCount;
      },
      
      stepCount () {
        return this.$store.state.nav.maxSteps;
      }
    },
    
    methods: {
      status (step) {
        let statusFields = this.$store.state.nav.completionFieldStatus[this.$store.state.nav.section - 1][step - 1];
  
        if (statusFields) {
          let emptyField = false,
            completeField = false,
            stepStatus;
          
          for (let i = 0; i < statusFields.length; i++) {
            if (statusFields[i].value == 1)
              completeField = true;
            else if (!statusFields[i].value)
              emptyField = true;
          }
  
          if (completeField && emptyField)
            stepStatus = "yellow";
          else if (completeField)
            stepStatus = "green";
          else
            stepStatus = "white";
          return stepStatus;
          
        } else {
          return "white";
        }
      }
    }
  };
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';

  .step-pager {
    width: 35%;
    text-align: center;
    
    .stp-title {
      color: $PCBLUE;
      font-size: .75em;
      display: inline-block;
      margin-bottom: 5px;
    }
    
    ul {
      display: flex;
      border: 1px solid $PCBLUE;
      height: 15px;
      padding: 0;
      
      li {
        display: inline-block;
        flex: 1;
        margin: 0 .5px;
        height: 100%;
        
        &.blue {
          background-color: $PCBLUE;
        }
        
        &:first-child {
          margin-left: 0;
        }
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
</style>
