<template>
  <div class="text-input" :class="[{error: !isValid && showErrors}]">
    <input v-if="isPassword"
           :disabled="disableInput"
           v-validate
           :data-vv-rules="rules"
           :name="pkey"
           :class="{error: !isValid && showErrors}"
           v-on:keyup="keyUpCalls"
           v-model="value"
           type="password">
    
    <input v-if="!isPassword"
           :disabled="disableInput"
           v-validate
           :data-vv-rules="rules"
           :name="pkey"
           :class="{error: !isValid && showErrors}"
           v-on:keyup="keyUpCalls"
           v-model="value"
           type="text">
    
    <span v-show="errors.has(pkey)"
          class="help errors">
      {{errors.first(pkey)}}
    </span>
    
    <span v-if="charCounter">
      {{valueForKey("character_limit_label")}}: {{max - charCount}}
    </span>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  
  
  export default {
    name: 'textInput',
    
    props: ['disableInput', 'pkey', 'parentKey', 'required', 'validationType', 'type', 'min', 'max', 'charCounter'],
    
    data () {
      return {
        rules: '',
        isPassword: this.type == 'password',
        
        value: '',
        isValid: true,
        isComplete: '',
        charCount: 0
      }
    },
    
    computed: mapState({
      showErrors: state => state.nav.showErrors
    }),
    
    watch: {
      required () {
        if (this.required) {
          this.$store.commit('updateErrors', {
            error: !this.value,
            key: this.pkey
          });
          this.isValid = !!this.value;
          
        } else {
          this.$store.commit('updateErrors', {
            error: null,
            key: this.pkey
          });
          this.isValid = true;
        }
      }
    },
    
    created () {
      this.setupRules();
      
      if (this.parentKey)
        this.value = this.$store.state.data.parish[this.parentKey][this.pkey];
      else
        this.value = this.$store.state.data.parish[this.pkey];
      
      if (this.charCounter)
        this.updateCharCount();

      // need to push up name_key and value to completionFieldStatus 2d array object
      if (this.required) {
        this.$store.commit('updateCompletionStatus', {key: this.pkey, value: null});
  
        this.$store.commit('updateErrors', {
          error: !this.value,
          key: this.pkey
        });
        this.isValid = !!this.value;
      }
    },
    
    methods: {
      setupRules () {
        let rules = [];
  
        if (this.validationType)
          rules.push(this.validationType);
  
        if (this.required)
          rules.push("required");
  
        if (this.min)
          rules.push("min:" + this.min);
  
        if (this.max)
          rules.push("max:" + this.max);
  
        this.rules = rules.join("|");
      },
      
      keyUpCalls () {
        this.validateField();

        if (this.charCounter)
          this.updateCharCount();
        
        if (this.type == 'phone')
          this.phoneFormat();
      },
      
      updateCharCount () {
        this.charCount = this.value.length;
      },
      
      validateField () {
        // if passes validation then update root store object
        if (!this.errors.has(this.pkey)) {
          this.$store.commit('updateErrors', {
            error: null,
            key: this.pkey
          });

          this.isValid = true;
          
          this.$store.commit('updateJson', {
            value: this.value,
            key: this.pkey,
            parentKey: this.parentKey
          });
          
          if (this.required)
            this.$store.commit('updateCompletionStatus', {
              key: this.pkey,
              value: 1
            });
          
        } else {
          this.$store.commit('updateErrors', {
            error: true,
            key: this.pkey
          });
          
          this.isValid = false;
          
          this.$store.commit('updateJson', {
            value: this.value,
            key: this.pkey,
            parentKey: this.parentKey
          });
          
          if (this.required)
            this.$store.commit('updateCompletionStatus', {
              key: this.pkey,
              value: 0
            });
        }
      },
      
      phoneFormat () {
        if (this.value)
          this.value = this.value.replace(/(\d{3})(\d{3})(\d{4})/, "$1-$2-$3");
      }
    }

  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';

  .text-input {
    input {
      border: 1px solid #E4E4E4;
      box-shadow: inset 0px 0px 10px 5px rgba(248,248, 248, .5);
      width: 100%;
      font-family: 'Open sans', sans-serif;
      font-size: 1em;
      padding: .625em .938em;
      color: #666;
      outline: none;
    
      &:focus {
        border-color: $PCBLUE;
      }
    }
  
    &.error {
      input {
        border-color: red;
      }
    }
  
    span {
      font-size: 0.75em;
      margin-top: 0.5em;
      display: block;
      color: red;
    }
  }
</style>
