<template>
  <div v-bind:class="[{ error: !isValid&&showErrors }, 'text-box']">
    <div class="step-box-row">
      <textarea v-bind:class="{ error: !isValid&&showErrors }" v-on:keyup="keyUpCalls" v-model.trim="pvalue" type="text">
      </textarea>
    </div>
    <div class="step-box-row char-count">
      <span v-if="charCounter">{{valueForKey("character_limit_label")}}: {{max-charCount}}</span>
    </div>
    <span>{{errors}}</span>
  </div>
</template>

<script>
  export default {
    name: 'textBox',
    
    props: ['pkey', 'parentKey', 'required', 'min', 'max', 'charCounter'],
    
    data () {
      return {
        pvalue: '',
        isValid: true,
        isComplete: '',
        charCount: 0,
        errors: ''
      }
    },
    
    computed: {
      showErrors () {
        return this.$store.state.nav.showErrors;
      }
    },
    
    created () {
      if (this.parentKey)
        this.pvalue = this.$store.state.data.parish[this.parentKey][this.pkey];
      else
        this.pvalue = this.$store.state.data.parish[this.pkey];
      if (!this.pvalue)
        this.pvalue = '';
      
      if (this.charCounter)
        this.updateCharCount();

      // need to push up name_key and value to completionFieldStatus 2d array object
      if (this.required) {
        this.$store.commit('updateCompletionStatus', {
          key: this.pkey,
          value: null
        });

        let errorPayload = {
          error: !this.pvalue,
          key: this.pkey
        };
        this.$store.commit('updateErrors', errorPayload);
        this.isValid = !!this.pvalue;
      }
    },
    
    methods: {
      keyUpCalls () {
        this.validateField();

        if (this.charCounter)
          this.updateCharCount();
      },
      
      updateCharCount () {
        this.charCount = this.pvalue.length;
      },
      
      validateField () {
        let errors = [];
        let valid = true;
        
        // if input field is required
        if (this.required) {
          if (!this.pvalue) {
            valid = false;
            errors.push("field can't be blank");
          }
        }

        // validate min and max length requirements
        if (this.min || this.max) {
          if (this.min && !(this.pvalue.length >= this.min)) {
            valid = false;
            errors.push("must be at least " + this.min + " chars in length");
          }
          if (this.max && !(this.pvalue.length <= this.max)) {
            valid = false;
            errors.push("can be at most " + this.max + " chars in length");
          }
        }

        this.errors = errors.join(", ");
        this.isValid = valid;
        // console.log("Validation errors: " + this.errors);

        // if passes validation then update root store object
        if (this.isValid) {
          this.$store.commit('updateErrors', {
            error: null,
            key: this.pkey
          });
  
          let payload = {
            value: this.pvalue,
            key: this.pkey,
            parentKey: this.parentKey
          };
          this.$store.commit('updateJson', payload);
          
          if (this.required)
            this.$store.commit('updateCompletionStatus', {
              key: this.pkey,
              value: 1
            });
        } else {
          this.$store.commit('updateErrors', {
            error: true,
            key: this.pkey
          });
  
          this.$store.commit('updateJson', {
            value: this.pvalue,
            key: this.pkey,
            parentKey: this.parentKey
          });
          
          if (this.required)
            this.$store.commit('updateCompletionStatus', {
              key: this.pkey,
              value: 0
            });
        }
      }
    }

  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import '~stylesheets/variables.scss';

  .text-box {
    textarea {
      width: 100%;
      height: 200px;
      border: 1px solid #E4E4E4;
      box-shadow: inset 0px 0px 10px 5px rgba(248,248, 248, .5);
      font-family: 'Open sans', sans-serif;
      font-size: 1em;
      padding: 15px 10px;
      color: #666;
      outline: none;
    
      &:focus {
        border-color: $PCBLUE;
      }
    }
  
    .char-count {
      text-align: right;
    
      span {
        font-size: .7em;
        color: #FF0000;
      }
    }
  }
</style>
