<template lang="html">
  <div class="section-container">
    <component :is='currentStep'></component>
  </div>
</template>

<script>
  import step1 from './step1_1.vue';
  import step2 from './step1_2.vue';
  import step3 from './step1_3.vue';
  import step4 from './step1_4.vue';
  import step5 from './step1_5.vue';
  import step6 from './step1_6.vue';
  
  
  export default {
    data() {
      return {
        maxSteps: 6
      };
    },
    
    computed: {
      currentStep () {
        return 'step' + this.$store.state.nav.step;
      }
    },
    
    created () {
      this.$store.commit('setMaxSteps', this.maxSteps);
    },
    
    components: {
      step1,
      step2,
      step3,
      step4,
      step5,
      step6
    }
  };
</script>
