<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
      </div>

      <div class="step-block-middle">
        <h2>{{valueForKey("parish_info")}}</h2>

        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <h3>{{valueForKey("parish_name_label")}}</h3>
              <textInput pkey="name" required="true"></textInput>
            </div>

            <div class="step-box-section">
              <h3>{{valueForKey("parish_address_label")}}</h3>
              <div class="step-box-row">
                <textInput pkey="street" required="true"></textInput>
                <span class="step-box-sub-label">{{valueForKey("street_name_label")}}</span>
              </div>
              <div class="step-box-row-multi">
                <div style="flex: 4">
                  <textInput pkey="city" required="true"></textInput>
                  <span class="step-box-sub-label">{{valueForKey("city_label")}}</span>
                </div>
                <div style="flex:1">
                  <textInput pkey="state" validationType="alpha" required="true"></textInput>
                  <span class="step-box-sub-label">{{valueForKey("state_label")}}</span>
                </div>
                <div style="flex: 2">
                  <textInput pkey="zip" required="true" min="5"></textInput>
                  <span class="step-box-sub-label">{{valueForKey("zipcode_label")}}</span>
                </div>
              </div>
            </div>

            <div class="step-box-section">
              <div class="step-box-row-multi">
                <div>
                  <h3>{{valueForKey("primary_phone_label")}}</h3>
                  <textInput pkey="phonePrimary" type="phone" required="true"></textInput>
                </div>
                <div>
                  <h3>{{valueForKey("email_label")}}</h3>
                  <textInput pkey="email" validationType="email" required="true"></textInput>
                </div>
              </div>
            </div>
          </div>

          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>

      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click="finish"/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';

  import textInput from 'components/textInput.vue';


  export default {
    methods: {
      ...mapActions(['updateTempDB']),

      report () {
        console.log(process.env.NODE_ENV);
      },

      finish () {
        this.updateTempDB('parish');
      }
    },

    components: {
      textInput
    }
  };
</script>
