<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
        <img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("graphic_media_title")}}</h2>
        
        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <h3>{{valueForKey("parish_logo_label")}}</h3>
              <imageUpload preview="true"
                           v-on:update="onUpdateLogo"
                           :images="[imageLogo]">
              </imageUpload>
            </div>
            
            <div class="step-box-section">
              <h3>{{valueForKey("slider_image_label")}}</h3>
              <div class="step-box-row-imgs"></div>
              <imageUpload multi="true"
                           preview="true"
                           :images="sliderMedia"
                           v-on:update="onUpdateSlider">
              </imageUpload>
            </div>
          </div>
          
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import {mapActions, mapMutations, mapState} from 'vuex';
  
  import imageUpload from 'components/imageUpload.vue';
  
  
  export default {
    components: {
      imageUpload
    },
  
    computed: mapState({
      imageLogo: state => state.data.parish.imageLogo,
      sliderMedia: state => state.data.parish.sliderMedia
        .filter(item => !item['_example'])
        .map(item => item.image)
    }),
  
    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep', 'updateJson']),
  
      finish () {
        this.updateTempDB(['sliderMedia', 'parish']);
      },
      
      onUpdateLogo (items) {
        let item = items[0];
        if (!item)
          item = null;
  
        this.updateJson({
          value: item,
          key: "imageLogo",
        });
      },
      
      onUpdateSlider (items) {
        let value = [];
        for (let i = 0; i < items.length; i++) {
          let image = items[i];
          value.push({
            position: i,
            image
          })
        }
  
        this.updateJson({
          value,
          key: "sliderMedia",
        });
      }
    }
  };
</script>
