<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
        <img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("parish_administration_title")}}</h2>
        <div class="step-box">
          <div class="step-box-content">
            
            <div class="step-box-section">
              <h3>{{valueForKey("pastor_name_label")}}</h3>
              <div class="step-box-row-multi">
                <div>
                  <span class="step-box-sub-top">{{valueForKey("title_label")}}</span>
                  <dropDown :options="titles"
                            v-on:update="onTitleUpdate"
                            :default="defaultTitle"
                            required="true">
                  </dropDown>
                </div>
                
                <div>
                  <span class="step-box-sub-top">{{valueForKey("first_name_label")}}</span>
                  <textInput parentKey="parishAdministration"
                             pkey="nameFirst"
                             required="true">
                  </textInput>
                </div>
                
                <div>
                  <span class="step-box-sub-top">{{valueForKey("last_name_label")}}</span>
                  <textInput parentKey="parishAdministration"
                             pkey="nameLast"
                             required="true">
                  </textInput>
                </div>
              </div>
            </div>
            
            <div class="step-box-section">
              <h3>{{valueForKey("pastor_bio_label")}}</h3>
              <textBox parentKey="parishAdminBio"
                       pkey="bio"
                       max="150"
                       charCounter="true"
                       required="true">
              </textBox>
            </div>
  
            <div class="step-box-section">
              <h3>{{valueForKey("add_photo_pastor_button")}}</h3>
              <imageUpload preview="true"
                           v-on:update="onUpdateImage"
                           :images="[image]">
              </imageUpload>
            </div>
          </div>
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import {mapActions, mapMutations, mapState} from 'vuex';
  
  import textInput from 'components/textInput';
  import textBox from 'components/textBox';
  import imageUpload from 'components/imageUpload';
  import dropDown from 'components/dropDown';
  
  
  export default {
    components: {
      textInput,
      imageUpload,
      dropDown,
      textBox
    },
  
    data() {
      return {
        admin: {},
        titles: this.$store.state.data.common.title
          .filter(elm => elm.language ? elm.language == this.$store.state.nav.language : true)
          .map(elm => ({label: elm.name, value: elm.name})),
        defaultTitle: this.$store.state.data.parish.parishAdministration.title
      };
    },
  
    computed: mapState({
      image: state => state.data.parish.parishAdministration.image,
    }),
    
    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep', 'updateJson']),
  
      finish () {
        this.updateTempDB(['parishAdministration', 'parishAdminBio']);
      },
      
      onTitleUpdate (value) {
        this.updateJson({
          value,
          key: "title",
          parentKey: 'parishAdministration'
        });
      },
  
      onUpdateImage (items) {
        let item = items[0];
        if (!item)
          item = null;
    
        this.updateJson({
          value: item,
          key: "image",
          parentKey: 'parishAdministration'
        });
      }
    }
  };
</script>
