<template lang="html">
  <div class="">
    <div class="step-container">
      <div class="step-block-side">
        <img src="assets/wizard/left-arrow.svg" alt="" @click='decrementStep'/>
      </div>
      
      <div class="step-block-middle">
        <h2>{{valueForKey("about_parish_title")}}</h2>
        
        <div class="step-box">
          <div class="step-box-content">
            <div class="step-box-section">
              <textBox parentKey="about" pkey="detail" max="150" charCounter="true" required="true"></textBox>
            </div>
  
            <div class="step-box-section">
              <h3>{{valueForKey("picture_label")}}</h3>
              <imageUpload preview="true"
                           v-on:update="onUpdateImage"
                           :images="[image]">
              </imageUpload>
            </div>
          </div>
          
          <button type="button"
                  name="button"
                  @click='finish'
                  class="snc-button">
            {{valueForKey("save_continue_button")}}
          </button>
        </div>
      </div>
      
      <div class="step-block-side">
        <img src="assets/wizard/right-arrow.svg" alt="" @click='finish'/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapMutations, mapState} from 'vuex';
  
  import textBox from 'components/textBox.vue';
  import imageUpload from 'components/imageUpload.vue';
  
  
  export default {
    components: {
      textBox,
      imageUpload
    },
  
    computed: mapState({
      image: state => state.data.parish.imageAbout,
    }),
  
    methods: {
      ...mapActions(['updateTempDB']),
      ...mapMutations(['decrementStep', 'updateJson']),
    
      finish () {
        this.updateTempDB(['about', 'parish']);
      },
  
      onUpdateImage (items) {
        let item = items[0];
        if (!item)
          item = null;
  
        this.updateJson({
          value: item,
          key: "imageAbout",
        });
      }
    }
  };
</script>
